@import '~antd/dist/antd.css';

.app {
    display: flex;
    justify-content: center;
    background-color: #414a4c;
    height: 100vh;
    
}

.wrapper {
    
    width: 65vw;
}

.item-list-and-planet-details {
    display: flex;
    justify-content: space-between;
   
}